<nav>
    <div class="site_title">
        <a href="/"><h2>Info BLOGS</h2></a>
        <p>Net Ninja Inspired Application</p>
    </div>
    <ul>
        <li><a href="/">BLOGS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>