<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <p>This is a blogs webite, where you can store the blogs without much of authentication huss.<br>
            This blogs site is created basically for learning purposes.<br>
            The tech stack involved while creating the site are NODE JS, EXPRESS, EJS.
        </p>
        <br>
        <p class="credentials">
            <span>Developer :: </span>
            <div class="name">
                <span>Tarun Kumar Rathore<br></span>
                <span>Software Engineer<br></span>
                <span>Infobeans</span>
            </div>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>